body{
    background-image: url("Images/Grass.png");
}
#Title{
    display: block;
    margin: 0 auto;
}
#Timer{
    background-image: url("Images/BluePicnic.png");
    text-align: center;
    margin-left:15%;
    margin-right:15%;
    padding:5%;
}
#Oven{
    width:80%;
    margin-top: 10%;
}
#Plate{
    margin-top:2%;
    width:60%;
}
#Todolist{
    background-image: url("Images/RedPicnic.png");
    margin-top: 10%;
    margin-left:15%;
    margin-right:15%;
    padding:5%;
}
#Basket{
    margin-top:10%;
    margin-right: 100%;
    max-width: 50%;
}
#Apple{
    width:15%;
}
#Redbox{
    width:80%;
    margin-left: 3%;
}
#list{
    margin-top:2%;
    padding:5%;
    font-size: 200%;
    margin-left:18%;
    background-image: url("Images/Paper.png");
    min-height: 500px;
}