body{
    background-image: url("Images/Grass.png");
}
#Title{
    display: block;
    margin: 0 auto;
}
#Timer{
    background-image: url("Images/BluePicnic.png");
    text-align: center;
    margin-left:15%;
    margin-right:15%;
    padding:5%;
}
#OvenTimer{
    position:relative;
    overflow:hidden;
}
#OvenTime{
    position:absolute;
    color:orange;
    font-size: 400%;
    top:57%;
    left:30%;
    font-family:'Courier New', Courier, monospace;
}
#Oven{
    width:80%;
    margin-top: 10%;
}
#Scrolling{
    overflow: hidden;
    text-align: center;
    top:20.5%;
    left:22%;
    position:absolute;
    width:45%;
    height:20%;
}
   #Scrolling pre {
    position: absolute;
    left:100%;
    font-size: 20px;
    color:white;
   }
/* Start and pause Button */
.StartPause{
    cursor: pointer;
    position: absolute;
    top: 30%;
    right: 14%;
    height: 60%;    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
    color: #ac341e;
    background-color: #ff5148;
    box-shadow: -8px 0px #ac341e;
    border: 3px solid ;
    border-radius: 8px;
}
.StartPause.active{
    cursor: pointer;
    position: absolute;
    top: 30%;
    right: 15%;
    height: 60%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
    background-color: #ff5148;
    box-shadow: 0px 0px;
    border: 3px solid #ff5148;
    border-radius: 8px;
}

/* Session time */
.Session{
    position: relative;
}
#Plate{
    margin-top:2%;
    width: 60%;
}

/* settings and stuffs */
#Session{
    position: absolute;
    font-family:'Courier New', Courier, monospace;
    font-weight: Bold;
    font-size: 400%;
    color: #3D426B;
    left: 30%;
    bottom: 30%;
}

#Basket{
    margin-top:10%;
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    cursor: pointer;
}
#Basket:hover{
    transform: translateY(-10px);
}
#gear{
    position: absolute;
    left: 580px;
    top: 1060px;
    width: 8%;
}
#save{
    position: absolute;
    left: 800px;
    top: 1060px;
    width: 7%;
}
#load{
    position: absolute;
    left: 1000px;
    top: 1060px;
    width: 8%;
}
#gear, #save, #load{
    opacity: 0;
    cursor: pointer;
}


#Todolist{
    background-image: url("Images/RedPicnic.png");
    margin-top: 10%;
    margin-left:15%;
    margin-right:15%;
    padding:5%;
    position:relative;
}
#Apple{
    transition: transform .2s;
    width:10%;
    position:absolute;
    top:0;
}
#Apple:hover{
    transform: scale(1.5);
}
#Task{
    box-sizing: border-box;
    background-color: rgb(255, 162, 134);
    outline:none;
    border-radius: 20px;
    border:solid 10px orangered;
    margin-left:18%;
    width:81%;
    height:200%;
    padding:4%;
    font-family: cursive;
    font-size: 200%;
    margin-top: -40%;
}
#list{
    box-sizing: border-box;
    padding:5%;
    word-wrap: break-word;
    padding-right: 100px;
    margin-top:2%;
    font-size: 200%;
    margin-left:18%;
    background-image: url("Images/Paper.png");
    min-height: 500px;
}
li{
    font-family:cursive;
    width:100%;
    margin-bottom: 30px;
    position:relative;
}
.draggable.dragging{
    color: red;
    opacity: 0.5;
}
.Trash{
    transition: transform .2s;
    width:7%;
    position:absolute;
    right:0;
    margin-right:-70px;
}
.Trash:hover{
    transform: scale(1.5);
}