body{
    background-image: url("Images/background.png");
}
#Oven{
    height:50%;
    width:50%;
    position:absolute;
    top:20%;
    left:10%;  
}
#Plate{
    height:20%;
    width:30%;
    top:75%;
    right:52%;
    position:absolute;
}
#Apple{
    width:10%;
    height:auto;
    position:absolute;
    top:75%;
    right:2%;
}
#Menu{
    width:25%;
    height:auto;
    position:absolute;
    top: 2%;
    right: 2%;
}
#Seasoning{
    top:0px;
    left:0px;
    width:7%;
    height:auto;
    position:absolute
}